* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

.parent{
  min-height: 100vh;
  width: 125%;
  background-color: #111;
  padding: 60px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card .top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .top img{
    height: 62px;
    width: 62px;
    border-radius: 60%;
    border: 2px solid #272525;
    padding: 4px;
    object-fit: cover;
  }
  .top button{
    display: flex;
    align-items: center;
    border: 2px solid #b0aeae;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 8px;
    gap: 4px;
    background-color: transparent;
    color: #8b8b8b;
  }
  
  
 
  
  .center h3{
    font-size: 18px;
    font-weight: 550;
  }
  .center h3 span{
    font-size: 11px;
    font-weight: 500;
    color: #aeaeae;
  }
  
  .center h2{
    font-size: 25px;
    font-weight: 600;
  
  }
  .center .tag{
    display: flex;
    margin-top: 10px;
    gap: 6px;
  }
  .center .tag h4{
    font-size: 16px;
    background-color: #e4e4e4;
    color: #202020;
    font-weight: 500;
    padding: 5px 9px;
    border-radius: 4px;
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #d7d7d7ce;
    padding-top: 15px;
  }
  
  .bottom button{
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    column-width: 600;
  }
  
  .bottom h3{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .bottom p{
    font-size: 10px;
    color: #8b8b8b;
  }
